body{
    background-color: #cccccc;
    font-family: 'Inter', sans-serif;
}

.c2{
    background-color: #ffffff;
    width: 1850px;
    height: 300px;
    margin: 20px;
}
.c1{
    position: relative;
    top: 50px;
    left: 300px;
}
.c0{
    position: relative;
    top: 10px;
    left: 800px;
}

.c3 ul{
    background-color: #39A900 ;
    width: 1810px;
    height: 10px;
    margin: 20px;
    padding: 20px;
    position: relative;
    top: -20px;
    list-style-type: none;
    text-align: center;

    
    
}
.c3 li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
.c3 a{
    padding: 2px 7px 2px 7px;
    color: #ffffff;
    text-decoration: none;
}
.c4{
    background-color: #ffffff;
    width: 800px;
    height: 800px;
    margin: 20px;
    text-align: center;
    position: relative;
    left: 500px;
    top: -40px;
}
.c5{
    font-family:'Roboto Condensed', sans-serif ;
    font-size: 38;
    position: relative;
    top: 50px;
    left: 10px;
}
.c7
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    position: relative;
    top: 80px;
    left: 10;
}
.c6
{
    width:350px ;
    height: 200px;
    position: relative;
    top: 100px;
    left: 10px;
}
.c32
{
    position: relative;
    left: 10px;
    top: 90px;
}

.azul
{
    width: 1850;
    height: 50px;
    background-color:#00324D ;
    position: relative;
    top: -1175px;
    left: 20px;
}
.c12
{
    width: 1850;
    height: 20px;
    background-color:#00324D ;
    position: relative;
    left: 500ox;
}
.c22
{
    height: 50px;
    position: absolute;
    left:500px;
}
